/*--------------
     RESET
--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------
     COMMONS
--------------*/
.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*--------------
     FONTS
--------------*/
body {
    font-family: 'Roboto', sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

/*--------------
     BUTTONS
--------------*/
button {
    padding: 6px 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.login-button {
    color: black;
    background-color: white;
}

/*--------------
     HEADER
--------------*/
header {
    background-color: #3161e0;
    height: 100px;
    line-height: 30px;
}

.column {
    padding: 40px 0 0px 0;
    vertical-align: middle;
    /* margin-top: 40px; */
}

.small-column {
    width: 20%;
    float: left;
}

.large-column {
    width: 60%;
    float: left;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li:not(:last-child) { 
    margin-right: 28px;
}

.button-box {
    text-align: right;
}

