/*--------------
     RESET
--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------
     COMMONS
--------------*/
.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*--------------
     FONTS
--------------*/
body {
    font-family: 'Roboto', sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

.hero h1 {
    color: white;
    font-size: 3em;
}

.hero p {
    color: white;
    margin-top: 30px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 24px;
}
/*--------------
     BUTTONS
--------------*/
button {
    border: none;
    cursor: pointer;
}

.login-button {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 6px 8px;
}

.hero button {
    border-radius: 40px;
    font-size: 1em;
    padding: 14px 24px;
}

.hero-button-download {
    background-color: white;
    margin-right: 20px;
}

.hero-button-browser {
    background-color: #23272a;
    color: white;
}
/*--------------
     HEADER
--------------*/
header {
    background-color: #3161e0;

    line-height: 30px;
}

.column {
    padding-top: 40px;
}

.small-column {
    width: 20%;
    float: left;
}

.large-column {
    width: 60%;
    float: left;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul li:not(:last-child) { 
    margin-right: 28px;
}

.button-box {
    text-align: right;
}

/*--------------
     HEADER
--------------*/
.hero {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.hero-box {
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

